@media (min-width: 0px) and (max-width: 767px) {
  #containerBody {
    min-height: calc(100vh - 50px) !important;
  }
}

#containerBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 100px);
}
