/* Media queries */

@media (min-width: 0px) and (max-width: 767px) {
  .cardText {
    font-size: 14px !important;
  }
}

/* Card */

.cardProducto {
  box-shadow: 0px 0px 10px rgba(50, 17, 54, 0.7);
}

.cardProducto:hover {
  box-shadow: 0px 0px 15px rgba(50, 17, 54, 1);
}

.cardProducto:hover #imgProduct {
  transition: transform 0.5s;
  transform: scale(1.1);
}
/* Card -> Img */

.containerImg {
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 4px;
  aspect-ratio: 1 / 1;
}

/* Card -> Text */

.cardText {
  position: absolute;
  width: 100%;

  bottom: 0;
  left: 0;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;

  font-size: 16px;
  color: white;

  background: linear-gradient(180deg, rgba(50,17,54,0) 0%, rgb(50, 17, 54) 100%);
}
