/* Modal */

.modalProduct {
  max-width: 400px;
}

/* ModalHeader */

.imgMoney {
  width: 20px;
  height: 20px;

  margin-right: 5px;
}

.modalHeader {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 25px !important;

  background-color: whitesmoke;
}

.modalHeaderContent {
  width: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;

  font-size: 16px;

  padding-left: 28px;
}

/* ModalBody */

.containerImages{
  border-radius: 7px;
}

.carouselItemSlide {
  height: 250px;
  width: 100%;
}

.alignImage {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.imgDetailsProduct {
  width: auto;
  height: 100%;

  /* Ajustar imagen al contenido (cambiar el tamaño de la imagen) */
  max-width: auto;
  max-height: 100%;

  /* Alineacion horizontal de la img en el contenedor */
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 7px;
}

/* .carouselControlPrevIcon,
.carouselControlNextIcon {
  filter: invert(1);
} */

.carouselControlPrevIcon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}

.carouselControlNextIcon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}
