/* Media Queries*/

@media (min-width: 0px) and (max-width: 767px) {
  .flexFilter {
    padding-left: 10px !important;
    padding-right: 22px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .flexFilter {
    padding-left: 65px !important;
    padding-right: 77px !important;
  }
}

.flexFilter {
  width: 100%;
  border-top: solid 1px #6b6b6b;

  padding-left: 120px;
  padding-right: 132px;

  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background: #212529;

  position: fixed;
  z-index: 1;
}

.imgFilter {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
