@media (min-width: 0px) and (max-width: 767px) {
  #footer {
    display: inline-block !important;
  }
}

#footer {
  display: none;
  position: sticky;
  width: 100%;
  height: 50px;
  background: #212529;
  left: 0px;
  bottom: 0px;
  clear: both;
}

#footerContainer {
  width: 100%;
  height: 100%;

  padding-left: 15px;
  padding-right: 15px;
}

/* Pagination */

.anclaje {
  text-decoration: none;
}

.containerMain {
  height: 33px;
  width: 33px;
  border-radius: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 0 0 2px #353535, 0 0 0 2px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.containerControl {
  height: 27px;
  width: 27px;
  border-radius: 20px;
  background: radial-gradient(circle, #9c18aa 0%, #3f133c 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.imgControl {
  width: 17px;
  height: 17px;
  object-fit: cover;
}

.infoPages {
  color: whitesmoke;
  font-size: 17px;
  width: 55px;
  text-align: center;
}
