@media (min-width: 0px) and (max-width: 767px) {
  #footer {
    display: none;
  }

  #copyright {
    font-size: 14px !important;
  }

  .simbolC {
    margin-left: 7px !important;
    margin-right: 7px !important;
  }
}

#copyright {
  color: white;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

#footer {
  position: relative;
  width: 100%;
  height: 50px;
  background: #212529;
  left: 0px;
  bottom: 0px;
  clear: both;
}

#footerContainer {
  width: 100%;
  height: 100%;
}

#nameApp {
  color: whitesmoke;
}

.simbolC {
  margin-left: 10px;
  margin-right: 10px;
}
