@media (min-width: 0px) and (max-width: 767px) {
  #containerListProducts {
    padding-top: 64px !important;

    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #containerListProducts {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

#containerListProducts {
  padding-top: 70px;
  padding-left: 120px;
  padding-right: 120px;
}