.containerLoading {
  background-color: #040204;
  height: 100vh;
  width: 100%;

  /* Alineacion horizontal y vertical */
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgLoader{
  width: 150px;
  height: auto;
}