/* Media Queries*/

@media (min-width: 0px) and (max-width: 767px) {
  .flexNav {
    justify-content: space-between !important;

    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .nameApp {
    padding-left: 0px !important;
  }

  .push {
    margin-left: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 991px)  {
  .flexNav {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}


#header {
  background-color: antiquewhite;
}

#containerNav {
  background: #212529;
  position: fixed;
  z-index: 1;
  width: 100%;

  box-sizing: border-box;
}

.flexNav {
  padding-left: 120px;
  padding-right: 120px;

  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nameApp {
  color: whitesmoke;
  text-align: center;
  padding-left: 100px;
  font-size: 20px;

  padding-top: 3px;
}

.imgFavicon {
  width: 40px;
  height: 40px;
}

/* Modo Dark */

.push {
  margin-right: 3px;
  position: relative;
  width: 50px;
  height: 20px;
  appearance: none;
  background: linear-gradient(0deg, #333, #000);
  outline: none;
  border-radius: 20px;
  box-shadow: 0 0 0 2px #353535, 0 0 0 3px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1), 0 3px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.push:checked[type="checkbox"] {
  background: linear-gradient(0deg, #9C18AA, #9C18AA);
  box-shadow: 0 0 2px #3F133C, 0 0 0 2px #353535, 0 0 0 3px #3e3e3e,
    inset 0 0 10px rgba(0, 0, 0, 1), 0 3px 20px rgba(0, 0, 0, 0.5),
    inset 0 0 15px rgba(0, 0, 0, 0.2);
}

.push:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 20px;
  background: linear-gradient(0deg, #000, #6b6b6b);
  border-radius: 20px;
  box-shadow: 0 0 0 1px #232323;
  transform: scale(0.98, 0.96);
  transition: 0.5s;
}

.push:checked[type="checkbox"]:before {
  left: 15px;
}

.push:after {
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  left: 25px;
  width: 4px;
  height: 4px;
  background: linear-gradient(0deg, #6b6b6b, #000);
  border-radius: 50%;
  transition: 0.5s;
}

.push:checked[type="checkbox"]:after {
  background: #9C18AA;
  left: 40px;
  box-shadow: 0 0 5px #3F133C, 0 0 15px #3F133C;
}

.push {
  margin-left: auto;
}