@media (min-width: 0px) and (max-width: 767px) {
  #containerPagination {
    display: none;

    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px)  {
  #containerPagination {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
}

/* Pagination */

.anclaje {
  text-decoration: none;
}

.buttonControl {
  color: #642c6c;
}

.buttonPage {
  color: whitesmoke;
}

.pageLink {
  height: 28px;
  background: #212529 !important;
  border-color: gray !important;
}

.pageLink:hover {
  background: #212529e0 !important;
}

#containerPagination {
  padding-bottom: 30px;

  padding-left: 120px;
  padding-right: 120px;
}
